/* start reset: https://zellwk.com/blog/css-reset/ */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

/* done reset */

body {
  font-family: 'Roboto';
  font-size: 18px;
  padding: 120px;
}

#t {
  width: 100%;
}

#canvi {
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: white;
  border: 2px solid #444;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: column;
  justify-items: center;
}

#long_task_tracker {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: 18px;
  background-color: rgb(206, 127, 127);
}

canvas {
  margin: 20px;
}

/* #canvas_main_raf_main, */
/* #canvas_wrkr_raf_main, */
/* #canvas_wrkr_raf_wrkr, */
dummy
{
  display: none;
}
